form label {
  display: block;
  width: 10%;
  padding-top: 25px;
}
.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.row {
  padding-top:10px;
}

.checkbox {
  padding-top : 15px;
}

.checkbox > label{
  width:100%;
  padding:0px;
}

.other_comment_container {
  padding-top : 10px;
}
